/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameboard {
  border: 1px solid black;
  height: 580px;
  width: 800px;
  /*margin: 100px auto;*/
}
.enemy {
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
.scoreboard {
  border: 1px solid black;
  width: 800px;
  height: 100px;
}
