/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameboard {
  border: 1px solid black;
  height: 580px;
  width: 800px;
  /*margin: 100px auto;*/
}
.enemy {
  background-image: url("asteroid.png");
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
.scoreboard {
  border: 1px solid black;
  width: 800px;
  height: 100px;

  /*piece {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.player {
  background-color: blue;
}

.enemy {
  background-image: url("asteroid.png");
}*/
}
