/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameboard {
  border: 1px solid black;
  height: 580px;
  width: 800px;

}
.scoreboard {
  border: 1px solid black;
  width: 800px;
  height: 100px;
}
.score {
  font-size: x-large;
  float: right;
  padding: 0 30px;
}

